In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats

In [2]:
campaign_data = pd.read_csv("../Campaign-Data.csv")

In [3]:
campaign_data.head()

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low

In [4]:
campaign_data['Calendardate'] = pd.to_datetime(campaign_data['Calendardate'])
campaign_data['calendar_month'] = campaign_data['Calendardate'].dt.month
campaign_data['calendar_year'] = campaign_data['Calendardate'].dt.year

C:\Users\Fateme\AppData\Local\Temp\ipykernel_4584\732667424.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  campaign_data['Calendardate'] = pd.to_datetime(campaign_data['Calendardate'])

In [5]:
campaign_data['Client Type'].value_counts(normalize= True)

Client Type
Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: proportion, dtype: float64

In [6]:
pd.crosstab(campaign_data['Number of Competition'] , campaign_data['Client Type'], margins= True, normalize= 'columns')

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility,All
Number of Competition,,,,,
High,0.166667,0.166667,0.166667,0.166667,0.166667
Low,0.833333,0.833333,0.833333,0.833333,0.833333

In [7]:
print(campaign_data['Client ID'].unique())

['ID-987275' 'ID-987278' 'ID-987279' 'ID-987280' 'ID-987281' 'ID-987282'
 'ID-987283' 'ID-987287' 'ID-987288' 'ID-987289' 'ID-987290' 'ID-987292'
 'ID-987294' 'ID-987295' 'ID-987296' 'ID-987297' 'ID-987298' 'ID-987299'
 'ID-987300' 'ID-987302' 'ID-987303' 'ID-987305' 'ID-987306' 'ID-987307'
 'ID-987308' 'ID-987309' 'ID-987310' 'ID-987312' 'ID-987316' 'ID-987318'
 'ID-987320' 'ID-987322' 'ID-987323' 'ID-987325' 'ID-987327' 'ID-987329'
 'ID-987332' 'ID-987333' 'ID-987334' 'ID-987335' 'ID-987336' 'ID-987338'
 'ID-987340' 'ID-987342' 'ID-987343' 'ID-987344' 'ID-987345' 'ID-987348'
 'ID-987350' 'ID-987352' 'ID-987354' 'ID-987355' 'ID-987356' 'ID-987358'
 'ID-987359' 'ID-987360' 'ID-987361' 'ID-987362' 'ID-987363' 'ID-987364'
 'ID-987365' 'ID-987366' 'ID-987368' 'ID-987369' 'ID-987370' 'ID-987373'
 'ID-987375' 'ID-987376' 'ID-987377' 'ID-987379' 'ID-987380' 'ID-987382'
 'ID-987384' 'ID-987385' 'ID-987386' 'ID-987391' 'ID-987392' 'ID-987393'
 'ID-987394' 'ID-987397' 'ID-987400' 'ID-987403' 'ID-987406' 'ID-987407'
 'ID-987408' 'ID-987409' 'ID-987410' 'ID-987411' 'ID-987412' 'ID-987414'
 'ID-987416' 'ID-987417' 'ID-987418' 'ID-987419' 'ID-987420' 'ID-987421'
 'ID-987422' 'ID-987423' 'ID-987424' 'ID-987426' 'ID-987429' 'ID-987430'
 'ID-987433' 'ID-987434' 'ID-987436' 'ID-987437' 'ID-987438' 'ID-987439'
 'ID-987441' 'ID-987443' 'ID-987445' 'ID-987446' 'ID-987447' 'ID-987448'
 'ID-987450' 'ID-987452' 'ID-987453' 'ID-987454' 'ID-987456' 'ID-987458'
 'ID-987459' 'ID-987460' 'ID-987462' 'ID-987463']

In [8]:
campaign_data.groupby('Number of Competition').mean(numeric_only=True)

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,calendar_month,calendar_year
Number of Competition,,,,,,,,,,,,,,,
High,1456.935484,75.080645,1003.0,2.974789e+07,213.127016,105398.938508,994046.717540,45198.036895,146945.564516,2.685333e+06,1.786754e+06,72172.379032,8452.620968,10.5,2015.0
Low,1456.935484,75.080645,1003.0,1.445570e+07,103.132258,150862.165766,623692.979839,26693.304194,128219.758065,1.890916e+06,1.883634e+06,70481.854839,15864.919355,5.7,2014.4

In [9]:
campaign_data.groupby('Client Type').mean(numeric_only=True)

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,calendar_month,calendar_year
Client Type,,,,,,,,,,,,,,,
Large Facility,1380.842105,71.578947,1003.0,1.999880e+07,143.098684,142273.609649,8.192056e+05,45595.436623,133667.763158,2.034013e+06,2.017039e+06,119287.280702,16266.447368,6.5,2014.5
Medium Facility,3940.761905,202.857143,1003.0,4.075997e+07,290.583333,437217.097817,1.552603e+06,49176.847619,398645.833333,4.822783e+06,4.698646e+06,85104.166667,33273.809524,6.5,2014.5
Private Facility,400.727273,20.454545,1003.0,5.030246e+06,35.784091,5183.715152,2.272919e+05,5522.470455,1221.590909,6.376705e+05,4.434375e+05,3664.772727,12215.909091,6.5,2014.5
Small Facility,422.514286,21.285714,1003.0,1.637759e+06,11.689286,11975.986310,9.120875e+04,0.000000,8062.500000,7.617143e+05,3.727946e+05,4223.214286,1535.714286,6.5,2014.5

In [10]:
campaign_data.corr(numeric_only = True)[['Amount Collected']]

                     Amount Collected
Number of Customers          0.607496
Montly Target                0.608204
Zip Code                          NaN
Amount Collected             1.000000
Unit Sold                    0.997515
Campaign (Email)             0.248235
Campaign (Flyer)             0.444337
Campaign (Phone)             0.034858
Sales Contact 1              0.277478
Sales Contact 2              0.552112
Sales Contact 3              0.357887
Sales Contact 4              0.236165
Sales Contact 5              0.095795
calendar_month               0.139425
calendar_year                0.286194

In [11]:
import seaborn as sns
 

# Create color palette
cm = sns.light_palette("green", as_cmap=True)

correlation_analysis = pd.DataFrame(campaign_data[['Amount Collected',
                                                   'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
                                                   'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
                                                   'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis.columns = ['Impacting Variable', 'Degree of Linear Impact (Correlation)']
correlation_analysis = correlation_analysis[correlation_analysis['Impacting Variable'] != 'Amount Collected'] 
correlation_analysis = correlation_analysis.sort_values('Degree of Linear Impact (Correlation)', ascending=False)

# Apply background gradient styling and display
correlation_analysis.style.background_gradient(cmap=cm).format({'Degree of Linear Impact (Correlation)': '{:.2f}'})

In [12]:
cm = sns.light_palette("green", as_cmap=True)
correlation_analysis=pd.DataFrame(campaign_data.groupby('Client Type')[['Amount Collected',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis=correlation_analysis.sort_values(['Client Type','Amount Collected'],ascending=False)
correlation_analysis.columns=['Acc Type','Variable Impact on Sales','Impact']
correlation_analysis=correlation_analysis[correlation_analysis['Variable Impact on Sales']!='Amount Collected'].reset_index(drop=True)
correlation_analysis.style.background_gradient(cmap=cm).format({'Impact': '{:.2f}'})

In [14]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
campaign_data.columns=[mystring.replace(" ", "_") for mystring in campaign_data.columns]
campaign_data.columns=[mystring.replace("(", "") for mystring in campaign_data.columns]
campaign_data.columns=[mystring.replace(")", "") for mystring in campaign_data.columns]
results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5',data=campaign_data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     342.1
Date:                Sat, 06 Apr 2024   Prob (F-statistic):               0.00
Time:                        18:20:50   Log-Likelihood:                -54512.
No. Observations:                2976   AIC:                         1.090e+05
Df Residuals:                    2967   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.481e+06   5.12e+05      2.891      0.004    4.77e+05    2.49e+06
Campaign_Email      0.7932      0.597      1.329      0.184      -0.377       1.963
Campaign_Flyer      3.3376      0.260     12.831      0.000       2.828       3.848
Campaign_Phone      0.0734      1.053      0.070      0.944      -1.991       2.137
Sales_Contact_1     4.2368      0.415     10.207      0.000       3.423       5.051
Sales_Contact_2     3.6382      0.129     28.155      0.000       3.385       3.892
Sales_Contact_3     2.3432      0.131     17.925      0.000       2.087       2.600
Sales_Contact_4    10.9478      1.060     10.331      0.000       8.870      13.026
Sales_Contact_5     3.5078      4.549      0.771      0.441      -5.412      12.428
==============================================================================
Omnibus:                     1099.749   Durbin-Watson:                   0.624
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7733.226
Skew:                           1.578   Prob(JB):                         0.00
Kurtosis:                      10.239   Cond. No.                     5.89e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [15]:
df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0]

In [16]:
df=df.reset_index()
df=df[df['P>|t|']<0.05][['index','coef']]
df

             index          coef
0        Intercept  1.481000e+06
2   Campaign_Flyer  3.337600e+00
4  Sales_Contact_1  4.236800e+00
5  Sales_Contact_2  3.638200e+00
6  Sales_Contact_3  2.343200e+00
7  Sales_Contact_4  1.094780e+01

In [17]:
consolidated_summary=pd.DataFrame()
for acctype in list(set(list(campaign_data['Client_Type']))):
    temp_data=campaign_data[campaign_data['Client_Type']==acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5', data=temp_data).fit()
    df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
    df=df[df['P>|t|']<0.05][['index','coef']]
    df.columns=['Variable','Coefficent (Impact)']
    df['Account Type']=acctype
    df=df.sort_values('Coefficent (Impact)',ascending=False)
    df=df[df['Variable']!='Intercept']
    print(acctype)
    consolidated_summary = pd.concat([consolidated_summary, df], ignore_index=True)
    print(df)
   #  print(results.summary())

Medium Facility
          Variable  Coefficent (Impact)     Account Type
2   Campaign_Flyer               4.1059  Medium Facility
5  Sales_Contact_2               3.5778  Medium Facility
4  Sales_Contact_1               3.1365  Medium Facility
6  Sales_Contact_3               2.1174  Medium Facility
Small Facility
          Variable  Coefficent (Impact)     Account Type
5  Sales_Contact_2             0.810100  Small Facility
3   Campaign_Phone            -0.000003  Small Facility
Large Facility
          Variable  Coefficent (Impact)     Account Type
4  Sales_Contact_1              11.6731  Large Facility
7  Sales_Contact_4              10.6145  Large Facility
5  Sales_Contact_2               4.0031  Large Facility
2   Campaign_Flyer               2.7204  Large Facility
6  Sales_Contact_3               2.0316  Large Facility
3   Campaign_Phone              -3.5361  Large Facility
Private Facility
          Variable  Coefficent (Impact)      Account Type
5  Sales_Contact_2               6.6223  Private Facility

In [18]:
consolidated_summary

           Variable  Coefficent (Impact)      Account Type
0    Campaign_Flyer             4.105900   Medium Facility
1   Sales_Contact_2             3.577800   Medium Facility
2   Sales_Contact_1             3.136500   Medium Facility
3   Sales_Contact_3             2.117400   Medium Facility
4   Sales_Contact_2             0.810100   Small Facility
5    Campaign_Phone            -0.000003   Small Facility
6   Sales_Contact_1            11.673100   Large Facility
7   Sales_Contact_4            10.614500   Large Facility
8   Sales_Contact_2             4.003100   Large Facility
9    Campaign_Flyer             2.720400   Large Facility
10  Sales_Contact_3             2.031600   Large Facility
11   Campaign_Phone            -3.536100   Large Facility
12  Sales_Contact_2             6.622300  Private Facility

In [19]:
consolidated_summary.reset_index(inplace=True)
consolidated_summary.drop('index',inplace=True,axis=1)

In [20]:
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary['Return on Investment']= consolidated_summary['Return on Investment'].apply(lambda x: round(x,1))
consolidated_summary.style.background_gradient(cmap='RdYlGn')

In [31]:
def format(x):
        return "${:.1f}".format(x)
consolidated_summary['Return on Investment']  = consolidated_summary['Return on Investment'].apply(format)

In [32]:
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary.style.background_gradient(cmap='RdYlGn')